<div class="container">
  <div class="row">

    <ul class="nav nav-tabs">
      <li role="presentation" >
        <%= link_to 'Index', root_path %>
      </li>
      <li role="presentation">
        <%= link_to 'Feeds', feeds_restaurants_path %>
      </li>
      <li role="presentation" >
        <%= link_to '十大人氣餐廳', ranking_restaurants_path%>
      </li>
      <li role="presentation" class="active">
        <%= link_to '美食達人', users_path %>
      </li>
    </ul>
  </div>
</div>    

<div class="container">
  <div class="row">

    <div class= "col-md-10 col-md-offset-1">
      <h1>美食達人</h1>
      <hr>
    
    <% @users.each do |user|%>

      <div class= "col-sm-12 col-md-2">
        <div class="user-item thumbnail">   
          <%= link_to user_path(user) do %>
          <%= image_tag "http://via.placeholder.com/180x150", alt: "user-avartar", class: "img-responsive center-block" %>

          <h4><%= user.name %></h4>
        <% end %>
    
        <%= render partial: "shared/follow", locals: {user: user} %>
        </div>
      </div>
    <% end %>
  
    </div>

  </div>
</div>