<div class="container">
  <div class="row">
    <div class="col-md-7 col-md-offset-2">

      <div class="page-header">

        <div class="col-md-6 col-sm-4">
          <div class="text-center thumbnail">
            <%= image_tag @user.avatar, class: "img-responsive img-rounded"%>
          </div>
        </div>
      
        <div class="col-md-6 col-sm-4">
          <h2><%= @user.name %></h2>
          <p><%= @user.email %></p>
          <div><%= simple_format @user.intro %></div>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class= "col-md-4">
        <% @commented_restaurants.each do |restaurant| %>
        <div class= "panel panel-info">
        <div calss= "panel-body">
          <%= image_tag "http://via.placeholder.com/150x100", class: "img-responsive center-block" %><br \>
          <div class="panel-footer">
          <h5><%= restaurant.name %></h5>
        
      </div>
        </div>
      </div>
      <% end %>
    </div>
                      
        <div class="col-md-9 col-sm-8">
          <%= link_to 'Back to index', restaurants_path, class: "btn btn-primary" %>
          <% if @user.email == current_user.email %>
            <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-success" %>
          <% end %>
        </div>

      </div>

  </div>
</div>