<div class= "container">
  <div class ="row">

    <ul class= "nav nav-tabs">
      <li role="presentation">
        <%= link_to 'Index', root_path %>
      </li>
      <li role="presentation", class="active">
        <%= link_to 'Feeds', feeds_restaurants_path %>
      </li>
      <li role="presentation" >
        <%= link_to '十大人氣餐廳', ranking_restaurants_path%>
      </li>
      <li role="presentation">
        <%= link_to '美食達人', users_path %>
      </li>
    </ul>

  </div>
</div>

<div class= "container">
  <div class= "row">

    <div class= "col-md-10 col-md-offset-1">
      <h1>餐廳最新動態</h1>
      <hr>

      <div class= "col-md-6">
        <div class= "panel panel-default">
          <div class= "panel-heading">最新餐廳</div>
          <div class= "panel-body">
            <% @recent_restaurants.each do |restaurant| %>
            <div>
              <h4>
                <%= link_to restaurant.name, restaurant_path(restaurant) %>
                <small><%= restaurant.category.name %></small>
              </h4>
              <p><%= truncate(restaurant.description, length: 80) %></p>
              <hr>
            </div>
          <% end %>
          </div>
        </div>       
      </div>

      <div class= "col-md-6">
        <div class= "panel panel-default">
          <div class= "panel-heading">最新評論</div>
          <div class= "panel-body">
            <% @recent_comments.each do |comment| %>
              <div>
                <h4>
                  <%= link_to comment.restaurant.name, restaurant_path(comment.restaurant) %></h4>
                  <p><%= truncate(comment.content, length: 80) %>
                    <small>by <%= link_to comment.user.name, user_path(comment.user) %></small></p>
                <hr>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
