<div class="container">
  <div class="row">

    <ul class="nav nav-tabs">
      <li role="presentation">
        <%= link_to 'Index', root_path %>
      </li>
      <li role="presentation">
        <%= link_to 'Feeds', feeds_restaurants_path %>
      </li>
      <li role="presentation" class="active">
        <%= link_to '十大人氣餐廳'%>
      </li>
      <li role="presentation">
        <%= link_to '美食達人', users_path %>
      </li>
    </ul>
  </div>
</div>

<div class= "container">
  <div class= "row">

    <div class= "col-md-10 col-md-offset-1">
      <h1>十大人氣餐廳</h1>
      <hr>

      <% @restaurants.each do |restaurant| %>
      <div class="ranking-item">

        <div class= "col-md-3">
          <%= link_to restaurant_path(restaurant) do %>
          <%= image_tag "http://via.placeholder.com/150x120", class: "img-responsive center-block" %>
          <% end %>
        </div>

        <div class= "col-md-9">
          <h4><%= restaurant.name %>
          <span class="label label-default">得票數<%= restaurant.favorites_count %></span></h4>
          <p><%= truncate(restaurant.description, length: 150) %></p>
          <div>
            <%= link_to 'show', restaurant_path(restaurant), class: "btn btn-primary" %>
            <%= render partial: 'shared/favorite', locals: {restaurant: restaurant }%>
          </div>
        </div>        
      <% end %> 
      </div>

    </div>

  </div>
</div>