<div class="container">
  <div class="row">

    <div class="col-md-12">
      <h1><%= @restaurant.name %></h1>

    <h4><p class="label label-default"> [<%= @restaurant.category.name %>] </p></h4>
    </div>

    <br>

    <div class="col-md-4">
      <%= image_tag "http://via.placeholder.com/600x500", class: "img-responsive center-block" %>
      <br>
      <div class="well well-lg">
        <ul class="list-unstyled">
          <li><strong>Opening Hours:</strong> <%= @restaurant.opening_hours %></li>
          <li><strong>Contact Number:</strong> <%= @restaurant.tel %></li>
          <li><strong>Where we are:</strong> <%= @restaurant.address %></li>

        </ul>
      </div>
    </div>

    <div class="col-md-8">
      <strong>Description:</strong> <%= @restaurant.description %>
    </div>

    <div class="col-md-12">
    <hr>
      <!-- 新增評論的表單輸入框 -->
      <%= form_for [@restaurant, @comment] do |f| %>
      
        <div class="form-group">
          <%= f.text_area :content, placeholder: "走過路過不要錯過，留個言再走吧！", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.submit class: "btn btn-success" %>
          <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
        </div>
      <% end %>
      
      <!-- 顯示與餐廳相關評論 -->
      <% @restaurant.comments.each do |comment| %>
      <div>
        <h4><%= comment.user.email.split("@").first %></h4>
        <p><%= simple_format comment.content %></p>
        <p class="text-muted">
          <em>- <%= time_ago_in_words(comment.created_at) %> ago -</em>

          <% if current_user.admin? %>
            <%= link_to "Delete", restaurant_comment_path(@restaurant, comment), method: :delete, data: {confirm: "Are you sure?"}, class: "glyphicon glyphicon-trash" %>
          <% end %>
        </p>
      </div>
      <hr>
      <% end %> 

      <div class="clearfix">
        
        <% if current_user.admin? %>
          <%= link_to "Edit", edit_admin_restaurant_path(@restaurant), class: "btn btn-warning"%>
        <% end %>
        <%= link_to 'Back to index', restaurants_path, class: "btn btn-primary" %>

      </div>
    </div>

  </div>
</div>






