<div class="container">

  <h1>餐廳分類總表</h1>
    <div class="col-md-12 col-lg-5">

      <div class="row">
        <div>
          <%= link_to 'Categories', admin_categories_path %> |
          <%= link_to 'New Restaurant', new_admin_restaurant_path %>
        </div>
        <br>

        <div class="form-inline">
          <%= form_for [:admin, @category] do |f| %> 
            <div class="form-group">
              <%= f.text_field :name, placeholder: "Category Name", class: "form-control" %> 
            </div>
            <%= f.submit class: "btn btn-primary" %>        
              <% if @category.errors.any? %>
                <%= @category.errors.full_messages.to_sentence %>
              <% end %>
          <% end %>
        </div>
        <hr>

        <table class="table table-striped table-bordered">
          <thead style= "background: gray">
            <tr>
              <th>S/N</th>
              <th>Category Name</th>
              <th>Function</th>
            </tr>
          </thead>
          <tbody>
            <% @categories.each do |category| %>
            <tr>
              <th scope="row"><%= category.id%></th>
              <td><%= category.name %></td>
              <td><%= link_to 'Edit', admin_categories_path(id: category.id), class: "glyphicon glyphicon-pencil" %> |
                <%= link_to 'Delete', admin_category_path(category), method: :delete, data: { confirm: "Are you sure?"}, class: "glyphicon glyphicon-trash" %>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>

    </div>

</div>