<div class="container">
  <div class="row">

    <ul class="nav nav-tabs">
      <li role="presentation" class="active">
        <%= link_to 'Index', root_path %>
      </li>
      <li role="presentation">
        <%= link_to 'Feeds', feeds_restaurants_path %>
      </li>
      <li role="presentation" >
        <%= link_to '十大人氣餐廳', ranking_restaurants_path%>
      </li>
      <li role="presentation">
        <%= link_to '美食達人', users_path %>
      </li>
    </ul>
    <br>

    <ul class="nav nav-pills nav-pills-center">
      <li role="presentation"><%= link_to "全部餐廳", root_path %></li>
      <% @categories.each do |category|%>
        <li role="presentation" class="<%= "active" if category == @category %>"><%= link_to category.name, category_path(category)%></li>
      <% end %>
    </ul>
    <hr>

    <%= render partial: "shared/restaurant_list" %>

  </div>
</div>


