<!DOCTYPE html>
<html>
  <head>
    <title>RestaurantForum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!--<nav class= "navbar navbar-default">-->
    <nav class="navbar navbar-inverse">

      <div class="container-fluid">
        <div class= "naverbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar" aria-expanded="false">
              <span class="sr-only">Toogle navigation</span><!--什麼意思？？作用是？？-->
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          <a class="navbar-brand" href="#">餐廳評論網</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="pull-right text-right nav navbar-nav"> <!--如何把字變到右邊靠中間？？？！！-->

            <% if current_user %>
            <li><p class="navbar-text">Hi, <%= current_user.email %></p></li>
            <li><%= link_to('Log out', destroy_user_session_path, method: :delete) %></li>
            <li><%= link_to('Change password', edit_user_registration_path) %></li>
            <% else %>
            <li><%= link_to('Sign up', new_user_registration_path) %></li>
            <li><%= link_to('Log in', new_user_session_path) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <% if flash[:notice] %>
    <div class="container">
      <div class="row">
        <div class="alert alert-sucess"><%= alert%></div>
      </div>
    </div>
    <% end %>

    <% if flash[:alert] %>
    <div class="container-fluid">
      <div class="row">
        <div class="alert alert-danger"><%= alert%></div>
      </div>
    </div>
    <% end %>

    <%= yield %>
  </body>
</html>
